@charset "UTF-8";


.bg-color {
	background-color: #21D192;
}


.formhover:hover {
	background-color: #FAD7A0;
}

.btn {
	
	width: 49.5%;
	
}

.table-hover tbody tr:hover  {
  background-color: #FAD7A0;
}

ul {
  list-style-type: none;
}

li:hover {
	background-color: #FAD7A0;
}

ul a:hover {
	background-color: #FAD7A0;
}

.size16 {
	width:16.66%;
	float:left;
}

.size25 {
	width:25%;
	float:left;
}

.size33 {
	width: 33.33%;
	float:left;	
}

.size50 {
	width: 50%;
	float:left
}

.size100 {
	width:100%;
	float:left;
}

.btn-1 {
	background-color: #FF6A3D;
	width: 10%;
	margin-left: 2%;
	border:none;
}

.btn-read {
	background-color: #FCBB42;
	width: 100%;
	margin-left: 2%;
	border:none;
}

.btn-edit {
	background-color: #8CC152;
	width: 100%;
	margin-left: 2%;
	border:none;
}

.btn-delete {
	background-color: #3BAFDA;
	width: 100%;
	margin-left: 2%;
	border:none;
}

.btn-save {
	background-color: #118DFF;
	width: 100%;
	border:none;
}

.functionbutton {
	width: 50%;
}

.img-33 {
	width: 33%;
}